:root {
    --rowNum: 3; /*Number of Meds to remind + 1 (for headings)*/
    --borderColour: grey;
}



* {margin:0; padding: 0; border: 0; vertical-align: baseline;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
html, body {height: 100vh; margin: 0;}

body {
    overflow-y: hidden;
    font-family: "Segoe UI", sans-serif;
    background: #36393f; color: #FFF;
}

h1 {margin: 0 0 10px 0; font-weight: 600; line-height: 1.2;}
p {margin-top: 10px; color: rgba(255,255,255,0.4);}



#titlebar{
    color: #FFF;
    padding: 4px;
    display: block;
    position: fixed;
    height: 32px;
    width: 100%; /*Compensate for body 1px border*/
    background: #202225;
}

#window-title {
    grid-column: 1;
    display: flex;
    align-items: center;
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
    margin-left: 8px;
    overflow-x: hidden;
}
/* prevents title text overflow */
#window-title span {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;

    
  }

#titlebar #drag-region {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
    display: grid;
    grid-template-columns: auto 138px;
  }

#main{
    display:grid;
    height: calc(100% - 32px);
    width: 100%;
    margin-top: 32px;
    padding: 5px;
    overflow-y: auto;
    background-image: url("resources/background.svg");
    background-repeat: repeat-y;
    background-size: 100px 100px;
    position: relative;
    float: left;
}

#menu-items {
    size: 100px 1000px;
    padding-left: 13px;
    padding-right: 13px;
    display: grid;
    grid-gap: 0px;
    position:absolute;
    grid-template-columns: 70px;
    grid-template-rows: 70px 70px 70px 70px 70px;
}

/*rules will be applied ONLY to direct children*/
#menu-items > * {
    transition: ease-out transform 0.3s;
    -webkit-transition: ease-in-out -webkit-transform 0.3s;
}
#menu-items > *:hover {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

    #home-button {
        background-image: url("resources/logo.svg");
        background-repeat: no-repeat;
        min-width: 70px;
        min-height: 70px;
    }

    #home-button:hover {
        background-image: url("resources/logoHover.svg");
    }

    #add-pill-button {
        background-image: url("resources/addPill.svg");
        background-repeat: no-repeat;
        min-width: 70px;
        min-height: 70px;
    }

    #add-pill-button:hover {
        background-image: url("resources/addPillHover.svg");
    }

@keyframes hoverSpin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.reminders-container {
    

    size: 100% 100%;
    left:100px;
    width: calc(100% - 100px);
    font-family: Helvetica Neue, Helvetica, Liberation Sans, Arial, sans-serif;
    position: relative;
    top:0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 32px repeat(var(--rowNum), 100px);
    grid-template-areas: "RemindersHeader RemindersHeader RemindersHeader RemindersHeader"
                         "TimeHeader TabletTypeHeader DosageHeader NotesHeader";
}

.reminders-container * {
    /*border: solid 1px white;*/
    border-right: solid 1px var(--borderColour);
    border-bottom:  solid 1px var(--borderColour);

}

.TitleHeader {
    height: 32px;
    width: 100%;
    left: 50%;
    font-size: 140%;
    text-shadow: 2px 2px black;

    display: grid;
    grid-area: RemindersHeader;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ".";

    align-items: center;
    justify-items: center;
    padding-bottom: 10px;
    border-right: transparent;

}
  
.TimeHeader {
    height: 40px;
    display: grid;
    grid-area: TimeHeader;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ".";
    align-items: center;
    justify-items: center;
}
  
.TabletTypeHeader {
    height: 40px;
    display: grid;
    grid-area: TabletTypeHeader;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas: "CommercialNameHeader" "ChemicalNameHeader";
    align-items: center;
    justify-items: center;

}
  
.CommercialNameHeader { grid-area: CommercialNameHeader;
    border: transparent;
    align-items: center;
    justify-items: center; }
  
.ChemicalNameHeader { grid-area: ChemicalNameHeader;
    border: transparent;
    align-items: center;
    justify-items: center;}
  
.DosageHeader { grid-area: DosageHeader;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ".";
    align-items: center;
    justify-items: center; }

.NotesHeader { grid-area: NotesHeader;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ".";
    align-items: center;
    justify-items: center;
    border-right: transparent;}


#window-controls {
    display: grid;
    grid-template-columns: repeat(3, 46px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-family: "Segoe MDL2 Assets";
    font-size: 10px;
}

#window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
#window-controls #min-button {
    grid-column: 1;
  }
#window-controls #max-button, #window-controls #restore-button {
    grid-column: 2;
  }
#window-controls #close-button {
    grid-column: 3;
  }

#window-controls {
    -webkit-app-region: no-drag;
  }
#window-controls .button {
    user-select: none;
    cursor: default;
    opacity: 0.8;
  }
#window-controls .button:hover {
    
    background: rgba(255,255,255,0.2);
    opacity: 1;
  }
#window-controls #close-button:hover {
    background: #E81123;
  }
#window-controls #restore-button {
    display: none;
  }