:root {
    --borderColour: grey;
}


* {margin:0; padding: 0; border: 0; vertical-align: baseline;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
html, body {height: 100vh; margin: 0;}

body {
    overflow-y: hidden;
    font-family: "Segoe UI", sans-serif;
    background: #43474e; color: #FFF;
}

#titlebar{
    color: #FFF;
    padding: 4px;
    display: block;
    position: fixed;
    height: 32px;
    width: 100%; /*Compensate for body 1px border*/
    background-color: #202226;
    font-family: "Quicksand", sans-serif;
}

#titlebar #drag-region {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
    display: grid;
    grid-template-columns: auto 138px;
}

#form-container {
    position: relative;
    top: 32px;
    padding: 10px;
        
    font-family: 'Quicksand', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 32px 40px 40px 40px 80px 60px;
    grid-template-areas:"title title"
                        "tablet-type-container tablet-type-container"
                        "dosage dosage"
                        "time-container time-container"
                        "further-notes further-notes"
                        "confirm-button confirm-button";
    grid-gap: 1.6% 1.6%;

}

#form-container * {
    border-bottom: solid 1px var(--borderColour);
}

#title {
    height: 32px;
    width: 100%;
    font-size: 140%;
    text-shadow: 2px 2px black;

    display: grid;
    grid-area: title;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ".";

    justify-items: center;
    align-items: center;
    padding-bottom: 10px;
}

#tablet-type-container {
    height: 100%;
    display: grid;
    grid-area: tablet-type-container;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: ".";

    justify-items: center;
    align-items: center;
    padding-bottom: 0px;
}

#tablet-type-container * {
    border-bottom: none;
    font-family: inherit;
    font-size: 100%;
    font-stretch: expanded;
    height: 30px;
    width: 160px;
    position: relative;
    vertical-align: middle;
    background-color: transparent;
    color: white;
    text-align: center;
    
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: opacity 0.08s 0.08s linear; 
    opacity: 0;
}

input:focus {
    outline: none;
}

#dosage { 
    display: grid;
    grid-area: dosage;
    grid-template: 1fr 1fr;
    grid-template-areas: ".";

    justify-items: center;
    align-items: center;
}

#time-container {
    display: grid;
    grid-area: time-container;
    grid-template: 1fr 1fr;
    grid-template-areas: ".";

    justify-items: center;
    align-items: center;
}

#further-notes {
    display: grid;
    grid-area: further-notes;
    grid-template: 1fr 1fr;
    grid-template-areas: ".";

    justify-items: center;
    align-items: center;
}

#confirm-button {
    display: grid;
    grid-area: confirm-button;
    grid-template: 1fr 1fr;
    grid-template-areas: ".";

    justify-items: center;
    align-items: center;
}

#confirm-button .button:hover {

}

#window-controls {
    display: grid;
    grid-template-columns: repeat(1,46px);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    font-family: "Segoe MDL2 Assets";
    font-size: 10px;
}

#window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#window-controls #close-button {
    grid-column: 1;
  }

#window-controls {
    -webkit-app-region: no-drag;
  }
#window-controls .button {
    user-select: none;
    cursor: default;
    opacity: 0.8;
  }
#window-controls .button:hover {
    
    background: rgba(255,255,255,0.2);
    opacity: 1;
  }
#window-controls #close-button:hover {
    background: rgb(230, 68, 82);
  }