:root {
    --borderColour: grey;
    --defaultFontFamily: "Quicksand", sans-serif;
}


* {margin:0; padding: 0; border: 0; vertical-align: baseline;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
html, body {height: 100vh; margin: 0;}

body {
    overflow-y: hidden;
    font-family: "Segoe UI", sans-serif;
    background: #43474e; color: #FFF;
}

#titlebar{
    color: #FFF;
    padding: 4px;
    display: block;
    position: fixed;
    height: 32px;
    width: 100%; /*Compensate for body 1px border*/
    background-color: #202226;
    font-family: var(--defaultFontFamily);
}

#titlebar #drag-region {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
    display: grid;
    grid-template-columns: auto 138px;
}

#form-container {
    position: relative;
    top: 32px;
    padding: 10px;
        
    font-family: var(--defaultFontFamily);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 32px 40px 40px 40px 525px 60px;
    grid-template-areas:"title title"
                        "tablet-type-container tablet-type-container"
                        "dosage dosage"
                        "time-container time-container"
                        "further-notes further-notes"
                        "confirm-button confirm-button";

}



#title {
    height: 32px;
    width: 100%;
    font-size: 140%;
    text-shadow: 2px 2px black;

    display: grid;
    grid-area: title;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ".";

    justify-items: center;
    align-items: center;
    padding-bottom: 10px;
}

#tablet-type-container {
    height: 100%;
    display: grid;
    grid-area: tablet-type-container;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: ".";

    justify-items: center;
    align-items: center;
    padding-bottom: 0px;
    border-bottom: solid 1px var(--borderColour);

}

#tablet-time-container * {
    border-bottom: none;
    height: 100%;
    display: grid;
}

input {
    font-family: inherit;
    font-size: 100%;
    height: 40px;
    width: 100%;
    position: relative;
    vertical-align: middle;
    background-color: transparent;
    color: white;
    
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: opacity 0.08s 0.08s linear; 
    opacity: 0;
}

input:focus {
    outline: none;
}

#dosage { 
    display: grid;
    grid-area: dosage;
    grid-template-areas: ".";

    justify-items: center;
    align-items: center;
    border-bottom: solid 1px var(--borderColour);

}

#time-container {
    display: grid;
    grid-area: time-container;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: ".";

    justify-items: left;
    align-items: center;
    border-bottom: solid 1px var(--borderColour);
}

time {
    overflow: hidden;
}

select {
    font-family: var(--defaultFontFamily);
    font-size: 16px;
    width: 100%;
    position: relative;
    vertical-align: middle;
    color: white;
    align-self: left;
    border: none;
    box-shadow: none;
    background-color: #43474e;
                                                    
}

select:focus {
    outline: none;
}

#further-notes {
    display: grid;
    grid-area: further-notes;
    grid-template-areas: ".";
    vertical-align: top;
    text-align: start;
    width: 100%;
    height: 525px;
    font-family: var(--defaultFontFamily);
    font-size: 16px;
    color: white;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    resize: none;
    overflow: hidden;
    background-color: transparent;

}

#confirm-button {
    display: grid;
    grid-area: confirm-button;
    grid-template: 1fr 1fr;
    grid-template-areas: ".";

    color:white;
    font-family: var(--defaultFontFamily);
    font-size: 100%;
    font-style: bold;

    border: 2px solid black;
    background-color: #e42659;

    justify-items: center;
    align-items: center;

    transition: ease-in-out;
    transition-duration: 0.2s;
}

#confirm-button:hover {
    background-color: #4e4e4e;
    border: 2px solid white;
}

#window-controls {
    display: grid;
    grid-template-columns: repeat(1,46px);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    font-family: "Segoe MDL2 Assets";
    font-size: 10px;
}

#window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#window-controls #close-button {
    grid-column: 1;
  }

#window-controls {
    -webkit-app-region: no-drag;
  }
#window-controls .button {
    user-select: none;
    cursor: default;
    opacity: 0.8;
  }
#window-controls .button:hover {
    
    background: rgba(255,255,255,0.2);
    opacity: 1;
  }
#window-controls #close-button:hover {
    background: rgb(230, 68, 82);
  }